<!-- <h1 class="mb-3 text-center">Login</h1> -->
<div class="row text-center">
  <div class="mb-5 d-flex flex-column align-content-center">
    <label for="email" class="form-label fs-3">Email</label>
    <input
      [(ngModel)]="usuario.email"
      type="email"
      class="form-control align-self-center"
      id="email"
      style="min-width: 250px; max-width: 400px"
    />
  </div>
  <div class="mb-5 d-flex flex-column align-content-center">
    <label for="password" class="form-label fs-3">Senha</label>
    <input
      [(ngModel)]="usuario.password"
      type="password"
      class="form-control align-self-center"
      id="password"
      style="min-width: 250px; max-width: 400px"
    />
  </div>
  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary" style="min-width: 100px" (click)="fazerLogin()">Login</button>
  </div>
</div>
