.container {
  padding: 30px;
  background-color: rgb(204, 190, 190);
  color: black;
  // border: 1px solid black;
}

nav {
  background-color: black;

  a {
    padding: 10px;
    transition: ease-in-out 0.2s;
    color: rgb(241, 239, 239);
    border-radius: 50%;
  }

  a:hover {
    background-color: rgba(237, 237, 255, 0.192);
  }

  .active {
    color: rgb(255, 0, 0);
  }
}
