<section class="container bg-secondary-subtle">
  <article class="row my-3">
    <h2>Interpolação</h2>
    <div class="col-lg-12">
      <p>
        String renderizada com Interpolação:
        <a href="{{ url }}" target="_blank">Google</a>
      </p>

      <p>Resultado da expressão 3 * 15 = {{ 3 * 15 }}</p>

      <p>Buscando valor de um método: {{ getValor() }}</p>
    </div>
  </article>

  <article class="row my-3">
    <h2>Property Binding</h2>
    <div class="col-lg-12 text-center">
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
      <img class="img-fluid img-thumbnail rounded mx-auto" [src]="urlImagem" />
    </div>
  </article>

  <article class="row my-3">
    <h2>Class Binding e Style Binding</h2>
    <div class="col-lg-12">
      Selecione uma classe:
      <select class="my-3" #classeVariavel (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Erro</option>
        <option value="alert-warning">Aviso</option>
        <option value="alert-info">Info</option>
      </select>

      <p class="alert {{ classeVariavel.value }}" role="alert">Classe selecionada: {{ classeVariavel.value }}</p>
    </div>

    <div class="col-lg-12" [style]="{ display: classeVariavel.value === 'alert-danger' ? 'block' : 'none' }">
      <p class="alert alert-danger">Esse texto só aparece em caso de erro!</p>
    </div>
  </article>

  <article class="row my-3">
    <h2>Event binding</h2>
    <div class="col-lg-12 d-flex flex-row flex-wrap align-items-center">
      <label for="inputExemplo" class="me-3 fw-bold fs-5">Exemplo:</label>
      <input name="inputExemplo" type="text" #valorInput class="me-3 h-100" />
      <button class="btn btn-primary" (click)="onClick(valorInput)">Click</button>
    </div>
  </article>

  <article class="row my-3">
    <h2>Two-way data binding</h2>
    <div class="col-lg-12 mb-3">
      <label class="me-3" for="nome">Nome:</label>
      <input [(ngModel)]="pessoa.nome" class="me-3" name="nome" type="text" placeholder="Digite seu nome" />

      <label class="me-3" for="idade">Idade:</label>
      <input [(ngModel)]="pessoa.idade" class="me-3" type="number" name="idade" min="0" max="100" />
    </div>

    <span>Nome: {{ pessoa.nome }}</span>
    <span>Idade: {{ pessoa.idade }}</span>
  </article>

  <article class="row my-3">
    <h2>Input/Output properties</h2>
    <div class="col-lg-12">
      <app-input-property [nomeDoCurso]="nomeDoCurso"></app-input-property>
      <app-output-property (valorAtualEventEmitter)="mudouValorContador($event)"></app-output-property>
    </div>
  </article>
</section>
