<h1 class="mb-3">Template Driven Form</h1>

<form
  #form="ngForm"
  [ngClass]="{ 'was-validated': form.submitted }"
  (ngSubmit)="onSubmitForm(form)"
>
  <div class="form-group mb-3">
    <label for="nome" class="form-label fw-bold">Nome</label>
    <input
      type="text"
      class="form-control w-50"
      id="nome"
      name="nome"
      placeholder="Digite seu nome"
      required
      ngModel
      #inputNome="ngModel"
    />
    <div class="invalid-feedback" *ngIf="inputNome.errors?.['required']">
      Nome é obrigatório!
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="email" class="form-label fw-bold">Email</label>
    <input
      type="text"
      class="form-control w-50"
      id="email"
      name="email"
      placeholder="exemplo@email.com"
      ngModel
      required
      pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?"
      #inputEmail="ngModel"
    />
    <div class="invalid-feedback" *ngIf="inputEmail.errors?.['pattern']">
      Email inválido!
    </div>
    <div class="invalid-feedback" *ngIf="inputEmail.errors?.['required']">
      Email é obrigatório!
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>
</form>
