<h1 class="mb-3">Template Driven Form</h1>

<form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
  <div class="form-group mb-3">
    <label for="nome" class="form-label fw-bold">Nome</label>
    <input
      type="text"
      class="form-control w-50"
      id="nome"
      name="nome"
      placeholder="Digite seu nome"
      ngModel
      required
      #inputNome
    />
    <!-- <div>
      {{ inputNome.className }}
    </div> -->
  </div>

  <div class="form-group mb-3">
    <label for="email" class="form-label fw-bold">Email</label>
    <input
      type="text"
      class="form-control w-50"
      id="email"
      name="email"
      placeholder="exemplo@email.com"
      ngModel
      required
      email
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
