<div>
  <h2>Editar Aluno</h2>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" [(ngModel)]="inputEmail" />
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="inputNome" (input)="onInput()" />
    </div>
    <button type="button" class="btn btn-primary" (click)="atualizarAluno()">Finalizar</button>
  </form>
</div>
