<div class="container">
  <h1 class="text-center">Diretivas Estruturais</h1>
  <br />
  <hr />
  <app-diretiva-ngif></app-diretiva-ngif>
  <hr />
  <br />
  <app-diretiva-ngswitch></app-diretiva-ngswitch>
  <hr />
  <br />
  <app-diretiva-ngfor></app-diretiva-ngfor>
  <hr />
  <br />
  <br />

  <h1 class="text-center">Diretivas de atributos</h1>
  <hr />
  <br />
  <app-diretiva-ngclass></app-diretiva-ngclass>
  <hr />
  <br />
  <app-diretiva-ngstyle></app-diretiva-ngstyle>
  <hr />
  <br />

  <h1 class="text-center">Outros assuntos</h1>
  <hr />
  <br />
  <app-exemplo-ngcontent>
    <div class="titulo-card">Título do card</div>
    <div class="corpo-card">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati ipsa unde molestias reprehenderit
      quisquam illum necessitatibus, veniam, sint doloribus saepe quo cumque ipsam eum nulla reiciendis cupiditate est
      placeat?
    </div>
    <div class="corpo-card">Lorem 2, fsiajhfsiu hdfsauhau hfusahfsua.</div>
  </app-exemplo-ngcontent>

  <hr />
  <br />
  <app-diretivas-customizadas></app-diretivas-customizadas>
</div>
